# Day 6 Exercises: Level 1

In [6]:
empty_tpl = ()          #Q1

brothers = ('Umar', 'Sadik', 'Ali', 'Sani', 'Usman')        #Q2

sisters = ('Aisha', 'Anisa', 'Ilham', 'Fatima')
siblings = sisters + brothers               #Q3

print('No of my siblings:'); print(len(siblings))            #Q4

#We cannot use add, insert, remove methods in a tuple because it is not modifiable      #Q5

No of my siblings:
9

# Exercises: Level 2

In [24]:
fruits = ('banana', 'orange', 'mango', 'lemon')         #Q2
vegetables = ('Tomato', 'Potato', 'Cabbage','Onion', 'Carrot')
animal_product = ('Milk', 'Egg', 'Meat')
food_stuff_tp = fruits + vegetables + animal_product

In [25]:
food_stuff_lt = list(food_stuff_tp)         #Q3
print(food_stuff_lt)

['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot', 'Milk', 'Egg', 'Meat']

In [27]:

middle_item = food_stuff_lt[6:7]            #Q4
print(middle_item)

['Cabbage']

In [40]:
first_t_item = food_stuff_lt[0:3]            #Q5
print(first_t_item)

last_t_item = food_stuff_tp[9:12]            
print(last_t_item)

['banana', 'orange', 'mango']
('Milk', 'Egg', 'Meat')

In [41]:
del food_stuff_tp               #Q6

In [47]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')     #Q7
'Estonia' in nordic_countries

False

In [48]:
'Iceland' in nordic_countries

True